@model MedicalApp.Models.Edificios.Habitacion

@{
    ViewBag.Title = "Eliminar: " + @Model.CodigoHabitacion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
        margin-bottom: 0px;
    }
</style>
<div class="panel panel-container text-center">
    <h3>¿Estás seguro/a que quieres eliminar esta Habitacion?</h3>
    <div>
        <hr />

        <p><label>Id: </label> @Html.DisplayFor(model => model.Id)</p>
        <p><label>Cod. Habitación: </label> @Html.DisplayFor(model => model.CodigoHabitacion)</p>
        <p><label>Fecha Creación: </label> @Html.DisplayFor(model => model.FechaCreacion)</p>
        <p><label>Fecha Modificación: </label> @Html.DisplayFor(model => model.FechaModificacion)</p>
        <p><label>Estado: </label> @Html.DisplayFor(model => model.Estado)</p>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="container">
                <div class="row">
                    <div class="col text-center">

                        <input type="button" value="Volver Atrás" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Habitacion") '" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                    </div>
                </div>
            </div><br /><br />
        }
    </div>
</div>
