@model MedicalApp.Models.Empresas.Empresa

@{
    ViewBag.Title = "Crear Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-container ">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FechaCreacion)
            @Html.HiddenFor(model => model.FechaModificacion)
            @Html.HiddenFor(model => model.Estado)
            @Html.HiddenFor(model => model.Eliminado)


            @Html.HiddenFor(model => model.ServicioId)
            @Html.HiddenFor(model => model.ClienteId)
            @Html.HiddenFor(model => model.CitaId)
            @Html.HiddenFor(model => model.TransaccionId)
            @Html.HiddenFor(model => model.CierreId)
            @Html.HiddenFor(model => model.DoctorId)
            @Html.HiddenFor(model => model.EnfermeraId)
            @Html.HiddenFor(model => model.AdministrativoId)

            <div class="form-group">
                <label class="control-label col-md-2">Nombre Comercial</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">RNC</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nombre Fiscal</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NombreFiscal, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.NombreFiscal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">País</label>
                <div class="col-md-9">
                    @Html.DropDownList("PaisId", null, htmlAttributes: new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.PaisId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Ciudad</label>
                <div class="col-md-9">
                    <select id="CiudadId" name="CiudadId" class="form-control"></select>
                    @Html.ValidationMessageFor(model => model.CiudadId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Dirección</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Teléfono</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Moneda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Moneda, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Moneda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Licencia</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CodiLicencia, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.CodiLicencia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Correo SMTP</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CorreoSMTP, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.CorreoSMTP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Contrase&ntilde;a SMTP</label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ContrasenaSMTP, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", type = "password"} })
                    @Html.ValidationMessageFor(model => model.ContrasenaSMTP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col text-center">

                        <input type="button" value="Volver Atrás" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Empresa") '" />
                        <input type="submit" value="Guardar" class="btn btn-info" onclick="return confirm('¿Seguro que desea guardar la Empresa?')" />
                    </div>
                </div>
            </div><br />
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
        $(function () {
            $("#PaisId").change(function () {
                var id = $(this).val();
                if (id !== '')
                    getCiudad(id, false);
            });
        });

        $(document).ready(function () {

            var id = $('#PaisId').val();
            console.log(id);
            if(id !== '')
                getCiudad(id, true);
        });

        function getCiudad(id, isLoad) {
            $("#CiudadId").empty();
            $.get("/Empresa/Ciudad_Bind", { paisId: id }, function (data) {
                var lines = "<option>--- Seleccionar Ciudad ---</option>";
                $.each(data, function (i, valor) {
                    lines += "<option value=" + valor.Value + ">" + valor.Text + "</option>";
                });
                $("#CiudadId").html(lines);
                if (isLoad === true) {
                    $("#CiudadId").val(@Model.CiudadId);
                }
            });
        }
</script>