@model IEnumerable<MedicalApp.Models.Productos.ProductoCliente>

@{
    ViewBag.Title = "Listado de productos del paciente: " + ViewBag.Cliente;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-container ">
    <button type="button" class="btn btn-primary btn-sm" title="Agregar medicamentos al paciente"
            style="float: right; margin-top: -15px; margin-right: 5px; padding: 5px 15px 5px 10px;"
            onclick="location.href='@Url.Action("Create", "ProductoCliente", new { id = ViewBag.HabitacionClienteId }) '">
        <span class="fa fa-plus">&nbsp;</span> Agregar Nuevo Producto
    </button>
    <hr />
    <table class="table-responsive table-hover table-striped display" width="100%" cellspacing="1">
        <thead>
            <tr>
                <th>
                    Descripción
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Comentario
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Fecha
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var term in Model)
                {
                    <tr style="@(term.Eliminado == true ? "background-color:#FAE6E9" : "")">
                        <td>@Html.DisplayFor(modelItem => term._Producto.Descripcion)</td>
                        <td>@Html.DisplayFor(modelItem => term.Cantidad)</td>
                        <td>@Html.DisplayFor(modelItem => term.Descripcion)</td>
                        <td>@(term.Estado != MedicalApp.Models.Enums.EstadoEnum.Completa ? "Pendiente" : "Aplicado")</td>
                        <td>@Html.DisplayFor(modelItem => term.FechaCreacion)</td>
                        <td align="right">

                            @if (!term.Eliminado)
                            {
                                if (term.Estado != MedicalApp.Models.Enums.EstadoEnum.Completa)
                                {
                                    <button type="button" class="btn btn-info btn-sm" title="Aplicar" onclick="location.href='@Url.Action("Apply", "ProductoCliente", new { id = term.Id }) '">
                                        <span class="fa fa-check">&nbsp;</span>
                                    </button>

                                    <button type="button" class="btn btn-danger btn-sm" title="Eliminar" onclick="location.href='@Url.Action("Delete", "ProductoCliente", new { id = term.Id }) '">
                                        <span class="fa fa-eraser">&nbsp;</span>
                                    </button>
                                 }
                        }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>