@model IEnumerable<MedicalApp.Models.Edificios.HabitacionCliente>

@{
    ViewBag.Title = "Listado Clientes Asignados a Habitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-container ">
    <button type="button" class="btn btn-primary btn-sm" title="Asignar Habitacion a Clientes"
            style="float: right; margin-top: -15px; margin-right: 5px; padding: 5px 15px 5px 10px;"
            onclick="location.href='@Url.Action("Create", "HabitacionCliente")'">
        <span class="fa fa-plus">&nbsp;</span> Asignar Habitacion a Clientes
    </button>
    <hr />
    <table class="table-responsive table-hover table-striped display" width="100%" cellspacing="1">
        <thead>
            <tr>
                <th>
                    Habitacion
                </th>
                <th>
                    Paciente
                </th>
                <th>
                    Doctor
                </th>
                <th>
                    Enfermera
                </th>
                <th>
                    Fecha Creación
                </th>
                <th>
                   Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var term in Model)
                {
            <tr style="@(term.Eliminado == true ? "background-color:#FAE6E9" : "")">
                <td>@Html.DisplayFor(modelItem => term._Habitacion.CodigoHabitacion)</td>
                <td>@string.Format("{0} {1}", Html.DisplayFor(modelItem => term._Cliente.Nombre), Html.DisplayFor(modelItem => term._Cliente.Apellido))</td>
                <td>@string.Format("{0} {1}", Html.DisplayFor(modelItem => term._Doctor.Nombre), Html.DisplayFor(modelItem => term._Doctor.Apellido))</td>
                <td>@string.Format("{0} {1}", Html.DisplayFor(modelItem => term._Enfermera.Nombre), Html.DisplayFor(modelItem => term._Enfermera.Apellido))</td>
                <td>@Html.DisplayFor(modelItem => term.FechaModificacion)</td>
                <td>@Html.DisplayFor(modelItem => term.Estado)</td>
                <td align="right">
                    @if (!term.Eliminado && term.Estado != MedicalApp.Models.Enums.EstadoEnum.Completa)
                    {
                        <button type="button" class="btn btn-success btn-sm" title="Dar el Alta" onclick="location.href='@Url.Action("Complete", "HabitacionCliente", new { id = term.Id }) '">
                            <span class="fa fa-home">&nbsp;</span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" title="Agregar Medicamentos" onclick="location.href='@Url.Action("Index", "ProductoCliente", new { id = term.Id }) '">
                            <span class="fa fa-medkit">&nbsp;</span>
                        </button>
                        <button type="button" class="btn btn-info btn-sm" title="Modificar" onclick="location.href='@Url.Action("Edit", "HabitacionCliente", new { id = term.Id }) '">
                            <span class="fa fa-pencil">&nbsp;</span>
                        </button>
                    }
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>