@model IEnumerable<MedicalApp.Models.Clientes.Cliente>

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Paciente Inicio de Sesión</title>
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/img/medical-icon.png">
    <link rel="icon" type="image/png" href="~/Content/img/medical-icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/login/css/style.css">
    <style>
        body {
            
            background: url("/Content/login/images/medical.jpg") no-repeat center center fixed;
            background-size: cover;
            background-color: #cccccc;
        }
    </style>
</head>
<body>
    @Html.Partial("_Notifications")
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">

                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <center>

                                        <h3>
                                            <img src="~/Content/login/images/login.png" class="img-responsive" alt="" style="max-height: 25px;">
                                            Registro de Paciente
                                            <img src="~/Content/login/images/login.png" class="img-responsive" alt="" style="max-height: 25px;">
                                        </h3>
                                    </center>
                                </div>
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="nombre" value="@ViewBag.nombre" autocomplete="off" placeholder="Nombre" required>
                                </div>

                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="apellido" value="@ViewBag.apellido" autocomplete="off" placeholder="Apellido" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="identificacion" value="@ViewBag.identificacion" autocomplete="off" placeholder="Cédula o Pasaporte" required>
                                </div>
                                <div class="form-group mt-3">
                                    <select name="genero" id="genero" value="@ViewBag.genero" class="form-control">
                                        <option value="">Seleccionar Genero</option>
                                        <option value="0">Masculino</option>
                                        <option value="1">Femenino</option>
                                        <option value="2">Otro</option>
                                    </select>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="email" class="form-control" name="correo" value="@ViewBag.correo" autocomplete="off" placeholder="Correo" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="tel" class="form-control" name="telefono" value="@ViewBag.telefono" autocomplete="off" placeholder="Teléfono o Celular" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="password" class="form-control" name="contrasena" value="@ViewBag.contrasena" autocomplete="off" placeholder="Contraseña" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="password" class="form-control" name="rcontrasena" value="@ViewBag.confirmarContrasena" autocomplete="off" placeholder="Repetir Contraseña" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" style="background-color: #17a2b8; color:white" class="form-control btn btn-info rounded submit px-3">Registrarse</button>
                                </div>


                                <a class="small" style="margin:auto; text-align:center; display:block;" href="@Url.Action("Login", "Paciente")">Ya tienes una cuenta? Ir a Inicio de Sesión</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/login/js/jquery.min.js"></script>
    <script src="~/Content/login/js/popper.js"></script>
    <script src="~/Content/login/js/bootstrap.min.js"></script>
    <script src="~/Content/login/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $("div.form-group select").val("@ViewBag.genero");
        });
    </script>
</body>
</html>
